.contact-form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
    padding-top: 50px;
   padding-bottom: 200px;
  }
  
  .contact-form input, .contact-form textarea {
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact-form button {
    padding: 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .contacth1{
    padding-top: 220px;
  }