.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    background: #051129;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    margin-right: 3rem;
}
.navbar{
    margin-right: 3rem;
}

.navbar a{
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 25px;
}

.navbar a:hover{
    color: crimson;
}